.projects {
    min-height: 100vh;
    background: linear-gradient(to right,  #000, #222222, #000);
}

.p-heading {
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    gap: 20px;
}

.p-heading h2 {
    padding: 10px;
}

.p-content {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.p-card {
    width: 80%;
    background-color: rgb(241, 255, 252);
    margin: 20px 10px 20px 10px;
    border-radius: 10px;
}

.p-card:hover {
    box-shadow: 0 4px 8px 4px rgba(255, 255, 255, 0.4);
}

.visible-section {
    padding: 10px;
}

.card-full-content {
    background-color: #cdcdcd;
    border-radius: 10px;
    padding: 10px;
}

.links {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: rgb(248, 255, 240);
}

.git-link {
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 136, 148);
    border-radius: 10px;
}

.git-link:hover {
    background-color: #01b0b9;
    color: rgb(42, 42, 42);
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.15);
}