/*-----------------------------------------------------------*/
/* INDEX PAGE STYLES - GENERAL*/
/*-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    /*background: linear-gradient(to right,  #ff7e5f, #feb47b, #ff6a00);*/
    background: linear-gradient(to right,  #000, #222222, #000);
}

main{
    min-height: 100vh;
}

#first-page {
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
        transform: scale(1.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: #333;*/
    background: linear-gradient(to right,  #000, #222222, #000);
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 1.5em;
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

header .logo a :hover {
    color:#ffb75f;
}

header .logo:hover {
    transition-duration: 0.5s;
    transform: scale(1.05);
}

header .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

header .navbar ul li a {
    text-decoration: none;
    color: #fff;
}

header .navbar ul li p:hover {
    color:#ffb75f;
    transition-duration: 0.5s;
    transform: scale(1.15);
}

header .social-links a {
    margin-left: 10px;
    color: #fff;
    font-size:1.2em;
    text-decoration: none;
}

header .social-links img {
    width: 25px;
    height: 25px;
    transition: text-shadow 0.3s, transform 0.3s;
}

header .social-links img:hover {
    transform: scale(1.15);
    transition-duration: 0.5s;
}

#current-tab {
    color: #ffb75f;
}

.main-hero-section {
    min-height: 70vh; 
    overflow: hidden; /* Hide overflow *
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
    background: linear-gradient(to right,  #000, #222, #000);
    color: whitesmoke;
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.main-sec-content {
    max-width: 80vw;
    font-size: x-large;
}



.skills {
    height: auto; /* Full height *
    background: linear-gradient(to right, #ffffff, #fde4d1, #ffffff); /* Example gradient */
    background: linear-gradient(to right,  #000, #222, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, sans-serif;
}

.skills-section {
    /*background-color: #f4f4f4; /* Light background for contrast *
    background: linear-gradient(to right, #ffffff, #ffecde, #ffffff); /* Example gradient */
    background: linear-gradient(to right,  #000, #222, #000);
    padding: 20px;
    color: white;
    /*border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
}

.skills-section-heading {
    margin-bottom: 15px;
}

.skills-section-heading h3 {
    margin-top: 5px;
}


.skills-tags {
    display: flex;
    flex-wrap: wrap; /* Allows tags to wrap to the next line */
}

.tag {
    background-color: #ffb75f; /* Bootstrap primary color */
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px; /* Rounded corners for tags */
    font-size: 14px;
    transition: background-color 1s;
    
}

.tag:hover {
    background-color: orangered; /* Darker shade on hover */
    color: rgb(255, 255, 255);
}

.exp {
    min-height: 60vh; /* Full height *
    background: linear-gradient(to right,  #10003a, #150055, #10003a); /* Example gradient */
    background: linear-gradient(to right,  #000, #222, #000);
    color: rgb(0, 0, 0);
}

.exp-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color:rgb(252, 252, 252)
}

.exp-heading a {
    color:rgb(248, 248, 248);
    text-decoration: none;
}

.exp-heading a:hover {
    transition-duration: 0.5s;
    transform: scale(1.15);
}

.exp-content {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 10px;
}

.exp-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    position: relative;
    margin-top: 50%;
    margin-bottom: 50%;
    width: 500px;
    min-width: 500px;
    min-height: 100px;
    overflow: hidden; /* Prevent overflow of description */
    overflow-y: auto;
    scrollbar-width: none;
    z-index: 1;
}

.breaker {
    top: 50%;
    left: 10vb;
    height: 2px;
    background-color: hsl(0, 0%, 59%);
}

.exp-line{
    position: absolute; /* Positioning the line absolutely */
    top: 50%; /* Center the line vertically */
    left: 500px; /* Start from the left */
    width: 500px; /*(no of cards - 1) * 500 */
    height: 8px; /* Thickness of the line */
    background-color: #fdfdfd; /* Color of the line */
    z-index: 0; /* Ensure the line is behind the cards */
}

.card-title {
    margin: 0;
}

.duration {
    color: #666;
    margin: 5px 0;
}

.description {
    display: none; /* Hide description by default */
    margin-top: 10px;
}

.exp-card:hover {
    height: 150px;
    background-color: #ffeaa3;
    transition-duration: 1s;
}

.exp-card:hover .description{
    display: block;
    color: #000;
}

.project-showcase {
    min-height: 46vh; /* Full height */
    background: linear-gradient(to right,  #000, #222, #000);
    color: whitesmoke;
}

.project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.project-heading a {
    text-decoration: none;
    color: whitesmoke;
}

.project-heading a:hover {
    transition-duration: 0.5s;
    transform: scale(1.15);
}

.project-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.project-card {
    width: 300px;
    height: 300px;
    margin:10px;
    background-color: rgb(241, 255, 252);
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.project-card-heading {
    padding: 10px;
    color: #000;
    text-align: center;

}

.project-card-content {
    padding: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 150px;
}

.project-card-content ul {
    padding: 20px;
}

.project-card-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}

.project-card-link a {
    text-decoration: none;
    color: whitesmoke;
}

.repo-link {
    background-color: #0f7f85;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.repo-link:hover {
    background-color: #155558;
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.15);
}

footer {
    text-align: center;
    padding: 20px;
    /*background-color: #333;*/
    background: linear-gradient(to right,  #000, #222, #000);
    color: #fff;
}

footer .social-links a {
    margin: 0 10px;
    color: #fff;
    font-size:1.2em;
    text-decoration: none;
}


footer .copyright {
    margin-top: 10px;
}

footer .social-links img {
    width: 25px;
    height: 25px;
}

footer .social-links img:hover {
    transition-duration: 0.5s;
    transform: scale(1.15);
}

.animated-underline {
    position: relative;
    display: inline-block; /* Ensures the underline is only as wide as the text */
    padding: 10px;
    color: #ebebeb; /* Text color *
    font-size: 24px; /* Font size */
}

.animated-underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0; /* Position the underline at the bottom */
    width: 100%; /* Full width */
    height: 2px; /* Thickness of the underline */
    background: #007BFF; /* Color of the underline */
    transform: scaleX(0); /* Start with no width */
    transition: transform 0.3s ease; /* Animation effect */
}

.animated-underline:hover::after {
    transform: scaleX(1); /* Scale to full width on hover */
}